## gencodegouv -- Part of codegouv project - generates static HTML files from YAML data
## By: Marine Gout <marine.gout@data.gouv.fr>
##     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
##
## Copyright (C) 2015 Etalab
## https://git.framasoft.org/etalab/gencodegouv
##
## gencodegouv is free software; you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## gencodegouv is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <http:>www.gnu.org/licenses/>.


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>code.gouv.fr (beta)</title>
</head>
<body>
  <h1>Index</h1>
  <ul>
<%
software_names_by_first_letter = {}
for software_name in sorted(software_names):
    software_names_by_first_letter.setdefault(software_name[0], []).append(software_name)
%>\
% for first_letter, same_first_letter_software_names in sorted(software_names_by_first_letter.items()):
    <li>
      ${first_letter}
      <ul>
    % for software_name in same_first_letter_software_names:
        <li><a href="${software_name}.html">${software_name}</a></li>
    % endfor
  </ul>
    </li>
% endfor
  </ul>
</body>
</html>
