## gencodegouv -- Part of codegouv project - generates static HTML files from YAML data
## By: Marine Gout <marine.gout@data.gouv.fr>
##     Emmanuel Raviart <emmanuel.raviart@data.gouv.fr>
##
## Copyright (C) 2015 Etalab
## https://git.framasoft.org/etalab/gencodegouv
##
## gencodegouv is free software; you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## gencodegouv is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program.  If not, see <http:>www.gnu.org/licenses/>.


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>${software['name']} - code.gouv.fr (beta)</title>
  <link rel="stylesheet" type="text/css" href="/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/card.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/modal.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/menu.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/rating.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/table.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/transition.css">
</head>
<body class="pushable">
  <div class="pusher">
    <div class="ui vertical center aligned segment">
      <div class="ui container">
        <h2 class="ui header left aligned">
          <img class="ui medium image" src="/assets/images/logo.png">
        </h2>
        <div class="ui large pointing menu stackable">
          <a class="item">
            Home
          </a>
          <a class="active item">
            Logiciels
          </a>
          <a class="item">
            Formats
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui container center aligned segment">
        <div class="ui grid stackable">
          <div class="sixteen wide column left aligned">
            <h3 class="ui block header left aligned">
              ${software['name']}
            </h3>
          </div>
          <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
            Description
          </h4>
          <div class="ui container left aligned">
<%
debian = software['debian']
screenshot = debian.get('screenshot')
%>\
% if screenshot is not None:
            <a class="image" id="ModalImg" href="#">
              <img class="ui medium right floated image" src="${screenshot['small_image_url']}" />
            </a>
            <div id="modaldiv" class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                Screenshot
              </div>
              <div class="content fluid">
                <div class="ui large image">
                  <img src="${screenshot['large_image_url']}">
                </div>
              </div>
            </div>
% endif
<%
description = debian['description']
language_description = description.get(language) or description['en']
%>\
            <p>
              ${language_description['long_description']}
            </p>
          </div>
          <h4 class="ui horizontal divider header">
            <i class="bar chart icon"></i>
            Specifications
          </h4>
          <table class="ui definition table" style="padding:0; margin:auto">
            <tbody>
              <tr>
                <td class="two wide column">Version actuelle</td>
                <td>42.0 (stable) - 03/11/2015 </td>
              </tr>
              <tr>
                <td>Recommandations</td>
                <td>Logiciel recommandé <a href="#">SILL</a> (MIMO)</td>
              </tr>
              <tr>
                <td>Téléchargement</td>
                <td><a href="#">Version 42.0</a></td>
              </tr>
              <tr>
                <td>Fiche complète</td>
                <td><a href="#">Fiche au format YAML (6,8 Mo)</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>&nbsp;</p>
        <h4 class="ui horizontal divider header">
          <i class="terminal icon"></i>
          Données disponibles
        </h4>
        <div class="ui grid">
          <div class="column">
            <div class="ui stackable centered cards" style="justify-content: center;">
              <div class="card">
                <div class="content">
                  <div class="header">Architecture</div>
                  <div class="description">
                    Version XX.XX.YY : i386
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Licence</div>
                  <div class="description">
                    <a href="#">GPL</a> : short description.
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Code source - commits</div>
                  <div class="description">
                    <div class="ui list">
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">30/11/2015 - 18:42</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">30/11/2015 - 17:33</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Sécurité - CVE</div>
                  <div class="description left aligned">
                    <div class="ui list">
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">CVE-2015-7327</a> Mozilla Firefox before 41.0 does not properly restrict the availability of High Resolution Time API times, which allows remote attackers to track last-level cache access, and consequently obtain sensitive information, via crafted JavaScript code that makes performance.now calls.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Documentation</div>
                  <div class="description">
                      Version XX.XX.YY : <a href="#">30/11/2015</a>
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Cas d'usage</div>
                  <div class="description">
                    <div class="ui list">
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">SGMAP/DINSIC</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">MAE</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">Fiche PLUME</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Interopérabilité</div>
                  <div class="description left aligned">
                    Conforme aux normes du World Wide Web Consortium (HTML, XHTML, JavaScript/ECMAScript, SVG, HTML5, CSS3, etc.)
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Formations</div>
                  <div class="description left aligned">
                    Aucune formation prévue pour le moment.
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
              <div class="card">
                <div class="content">
                  <div class="header">Accessibilité</div>
                  <div class="description">
                    <div class="ui list">
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">Fonctionnalité spécifiques (Mozilla)</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                          <a href="#">Référentiel</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui bottom attached button">
                  <i class="add icon"></i>
                  d'informations
                </div>
              </div>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
        <h4 class="ui horizontal divider header">
          <i class="terminal icon"></i>
          Discussion
        </h4>
        <div class="ui grid">
          <div class="column" id="discourse-comments">
          </div>
        </div>
      </div>
    </div>
    <div class="ui vertical footer segment">
      <div class="ui container">
        <div class="ui stackable divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui header">About</h4>
            <div class="ui link list">
              <a href="#" class="item">Sitemap</a>
              <a href="#" class="item">Contact Us</a>
              <a href="#" class="item">Other stuff</a>
              <a href="#" class="item">More stuff</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui header">Data</h4>
            <div class="ui link list">
              <a href="#" class="item">Some data</a>
              <a href="#" class="item">More data</a>
              <a href="#" class="item">Other data</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui header">Work in progress</h4>
            <p>Extra random information about this page filled with things and stuff, and some more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/library/jquery.min.js"></script>
  <script src="/dist/components/dimmer.js"></script>
  <script src="/dist/components/modal.js"></script>
  <script src="/dist/components/rating.js"></script>
  <script src="/dist/components/sidebar.js"></script>
  <script src="/dist/components/transition.js"></script>
  <script src="/dist/components/visibility.js"></script>
  <script>
$(document).ready(function () {
  //modal
  $('#ModalImg').click(function () {
    $('#modaldiv')
      //.modal({closable: true})
      .modal('show');
  });
});
  </script>
% if language == 'fr':
  <script>
// Generate embedded block for Discourse discussion.
DiscourseEmbed = {
  discourseUrl: 'https://forum.etalab.gouv.fr/',
  discourseEmbedUrl: 'https://code.gouv2.fr/${language}/${software['name']}.html'
};

(function() {
  var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
  d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
})();
  </script>
% endif
</body>
</html>
